<template name="components_share_LOC_with_sender">
    <div class="panel panel-default panel-dapp">
	<div class="panel-heading">
		Share Letter Of Credit Details
	</div>
      <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Sharing failed due to "{{error}}".
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                       Sharing In Progress...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        You have successfully shared!
                    </div>
            
                  
                {{/if}}

            {{/with}} 

	<div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
            <label for="seller_addr" class="col-sm-4 control-label">Seller Address</label>
            <div class="col-sm-4">
                <input type="text" id="seller_addr" class="form-control" value="" placeholder="Seller Address" />
            </div>
        </div>

              <div class="form-group">
            <label for="purchase_addr" class="col-sm-4 control-label">Purchase Order</label>
            <div class="col-sm-4">
                <input type="text" id="purchase_addr" class="form-control" value="" placeholder="Purchase Address" />
            </div>
        </div>

        <div class="form-group">
            <label for="loc_hash" class="col-sm-4 control-label">LOC Agreement</label>
            <div class="col-sm-4">
                <input type="text" id="loc_hash" class="form-control" value="" placeholder="LOC Agreement Hash" />
            </div>
        </div> 

		<div class="form-group">
			<div class="col-sm-5">
    				<button type="button" id="btnPurchaseContract" style="position: relative;top: 10px;left: 80%;" class="btn btn-info btn-deploy">Share
			</button>
    			</div>
			
    		</div>
	</form>
	</div>
	</div>
    </div>
    </div>
</template>
