<template name="components_share_BOL_with_bank">
    <div class="panel panel-default panel-dapp">
	<div class="panel-heading">
		Share Bill of Lading details
	</div>
      <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Sharing failed due to "{{error}}".
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                       Sharing In Progress...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        You have successfully shared!
                    </div>
            
                  
                {{/if}}

            {{/with}} 

	<div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
            <label for="advbank_addr" class="col-sm-4 control-label">Advising Bank Address</label>
            <div class="col-sm-4">
                <input type="text" id="advbank_addr" class="form-control" value="" placeholder="Advising Bank Address" />
            </div>
        </div>

             <div class="form-group">
            <label for="issbank_addr" class="col-sm-4 control-label">Issuing Bank Address</label>
            <div class="col-sm-4">
                <input type="text" id="issbank_addr" class="form-control" value="" placeholder="Issuing Bank Address" />
            </div>
        </div>

              <div class="form-group">
            <label for="loc_hash" class="col-sm-4 control-label">LOC Agreement</label>
            <div class="col-sm-4">
                <input type="text" id="loc_hash" class="form-control" value="" placeholder="LOC Agreement" />
            </div>
        </div>

        <div class="form-group">
            <label for="bol_hash" class="col-sm-4 control-label">Bill of Lading Agreement</label>
            <div class="col-sm-4">
                <input type="text" id="bol_hash" class="form-control" value="" placeholder="Bill of Lading" />
            </div>
        </div> 

		<div class="form-group">
			<div class="col-sm-5">
    				<button type="button" id="btnPurchaseContract" style="position: relative;top: 10px;left: 80%;" class="btn btn-info btn-deploy">Share
			</button>
    			</div>
			
    		</div>
	</form>
	</div>
	</div>
    </div>
    </div>
</template>
