<template name="components_all_buyers">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
           Buyer Details
        </div>
        <div class="panel-body">
              
         <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Buyer name</td>
                        <td>Buyer address</td>
                        <td>Advising Bank address</td>
                       
                    </tr>
                </thead>
                <tbody>
                {{#each getBuyersList}}
               
                <tr>
                        <td>{{buyer_name}}</td>
                        <td>{{buyer_address}}</td>
                        <td>{{bank_address}}</td>
                        
                </tr>
                {{/each}}
               </tbody>
            </table>

        </div>
       
       <!-- <div class="row">
            <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-5">
                        <button type="button" id="btnBuyersList" style="position: relative;top: 10px;left: 80%;" class="btn btn-info  btn-deploy">View Buyers List
                         </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        {{#with TemplateVar.get 'showBuyers'}}
        {{#if show}}
        <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
           Buyers 
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Buyer</td>
                        <td>No Of Bonds</td>
                    </tr>
                </thead>
                <tbody>
                {{#each getBuyersList}}
               
                <tr>
                        <td>{{Buyer}}</td>
                        <td>{{BondCount}}</td>
                </tr>
                {{/each}}
               </tbody>
            </table>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-5">
                        <button type="button" id="makePayment" style="position: relative;top: 10px;left: 80%;" class="btn btn-info  btn-deploy">Make Payments
                         </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        {{/if}}
        {{/with}}-->
        </div>
     </div>
</template>
