<template name="components_purchase">
    <div class="panel panel-default panel-dapp">
	<div class="panel-heading">
		Purchase Request
	</div>
      <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Purchase failed due to "{{error}}".
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                       Purchase In Progress...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        You have successfully purchased!
                    </div>
            
                  
                {{/if}}

            {{/with}} 

	<div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
            <label for="seller_addr" class="col-sm-4 control-label">Seller Address</label>
            <div class="col-sm-4">
                <input type="text" id="seller_addr" class="form-control" value="" placeholder="Seller Address" />
            </div>
        </div>

        <div class="form-group">
            <label for="buyer_addr" class="col-sm-4 control-label">Buyer Address</label>
            <div class="col-sm-4">
                <input type="text" id="buyer_addr" class="form-control" value="" placeholder="Buyer Node Address" />
            </div>
        </div> 

        <div class="form-group">
            <label for="buyer_name" class="col-sm-4 control-label">Buyer Name</label>
            <div class="col-sm-4">
                <input type="text" id="buyer_name" class="form-control" value="" placeholder="Name of the Buyer" />
            </div>
        </div> 

              <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Quantity</label>
            <div class="col-sm-4">
                <input type="text" id="quantity" class="form-control" value="" placeholder="Quantity" />
            </div>
        </div> 

              <div class="form-group">
            <label for="products" class="col-sm-4 control-label">Product</label>
            <div class="col-sm-4">
                <input type="text" id="products" class="form-control" value="" placeholder="Name of the Product" />
            </div>
        </div> 

		<div class="form-group">
			<div class="col-sm-5">
    				<button type="button" id="btnPurchaseContract" style="position: relative;top: 10px;left: 80%;" class="btn btn-info btn-deploy">Submit
			</button>
    			</div>
			
    		</div>
	</form>
	</div>
	</div>
    </div>
    </div>
</template>
